spring:
  application:
    name: proposta
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/keycloak}
    username: ${SPRING_DATASOURCE_USERNAME:keycloak}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        driverClassName: org.postgresql.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:18080/auth/realms/realm-propostas}
          jwk-set-uri: ${KEYCLOAK_JWKS_URI:http://localhost:18080/auth/realms/realm-propostas/protocol/openid-connect/certs}


  kafka:
    topic: ${KAFKA_TOPIC:transacoes}
    # Endereï¿½o do Kafka
    bootstrap-servers: ${KAFKA_HOST:localhost:9092}
    consumer:
      # Formato da chave (String) recebida!
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # Formato da mensagem \ evento (JSON) recebida(o)!
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      # Identificador do grupo de consumo
      group-id: ${KAFKA_CONSUMER_GROUP_ID:minha-aplicacao}
      # Modelo de coleta do consumidor (latest, earliest, none)
      auto-offset-reset: ${KAFKA_AUTO-OFFSET-RESET:latest}
